{
  "semi": true, 
  "singleQuote": true, 
  "trailingComma": "none", 
  "printWidth": 80, 
  "tabWidth": 2, 
  "useTabs": false, 
  "bracketSpacing": true, 
  "arrowParens": "always", 
  "endOfLine": "lf", 
  "importOrder": [
    "^react$",
    "^@?\\w", 
    "^(@/.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true, 
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
